.buttonmenu {
  background-color: #E7C387;
  padding: 10px;
  color: white;
  border: solid 1px black;
  cursor: pointer;
  right: 30px;
  margin: 3rem 3rem 0 0;
  height: 2rem;
}

.rachidbutton {

  border: solid 1px black;
  background-color: #E7C387;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border:#333;
  border-radius: 2px solid ;
  cursor: pointer;
}

#myModal {
  display: flex;
}

.modal {
  display: flex;
  width: 20%;
  height: 60%;
  cursor: pointer;
  right: 0rem;
  top: 11em;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin: 20px;
}

.modal-header {
  background-color: #E7C387;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modal-body {
  padding: 20px;
}

.color-menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.color-option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.hair-color-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.hair-color-links a {
  color: #333;
  text-decoration: none;
  padding: 5px ;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.hair-color-links a:hover {
  background-color: #ff5733;
  color: #fff;
}

.hair-color-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.hair-color-option {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

/* onglet maquillage */

.makeup-categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  
}

.makeup-category {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E7C387;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.makeup-category a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 13px;
}

.makeup-category img {
  width: 2rem;
  height: 2rem;
}


.makeup-category[data-category="Fond de Teint"] {
  background-image: url("../assets/image_fond_de_teint.jpg");
}

.bodyup-categories {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.bodyup-category a {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E7C387;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
